<html>
	<head>
		<title>Test page</title>

    <% if (env.production) { %>
      <script><%- inlineCommon %></script>
    <% } %>
	</head>
	<body>
		<%-body%>

    <% if (env.production) { %>
      <script async src="/client/build/<%= entryPoint %>.entry.js"></script>
    <% } else { %>
      <script src="http://localhost:3000/client/common.js"></script>
      <script src="http://localhost:3000/client/<%= entryPoint %>.entry.js"></script>
    <% } %>
  </body>
</html>
